pywin32>=220
scandir>=1.9.0
pygit2>=0.28.0
pyinstaller~=3.4
https://bintray.com/loot/snapshots/download_file?file_path=loot_api_python-4.0.2-7-g580bf87_master-python2.7-win32.zip
https://github.com/wrye-bash/dev-tools/raw/master/wheels/comtypes-0.6.2-cp27-cp27m-win32.whl
https://github.com/wrye-bash/dev-tools/raw/master/wheels/wxPython-2.8.12.1-cp27-cp27m-win32.whl
